## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [15]:
sample_list_1 = random.sample(range(0,101),80)
print(sample_list_1)
print(type(sample_list_1))
print(len(sample_list_1))

[84, 98, 71, 33, 96, 82, 100, 79, 22, 67, 44, 85, 14, 39, 43, 32, 76, 41, 70, 86, 57, 89, 88, 3, 18, 62, 27, 30, 19, 95, 99, 91, 66, 47, 17, 74, 54, 24, 83, 9, 4, 28, 5, 56, 34, 87, 51, 29, 93, 23, 0, 65, 20, 97, 78, 75, 60, 90, 38, 10, 49, 53, 11, 46, 59, 55, 13, 72, 25, 2, 80, 7, 1, 15, 58, 36, 45, 48, 68, 92]
<class 'list'>
80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [16]:
set1 = set(sample_list_1)
print(set1)
print(type(set1))
print(len(set1))
#Yes the length is still 80

{0, 1, 2, 3, 4, 5, 7, 9, 10, 11, 13, 14, 15, 17, 18, 19, 20, 22, 23, 24, 25, 27, 28, 29, 30, 32, 33, 34, 36, 38, 39, 41, 43, 44, 45, 46, 47, 48, 49, 51, 53, 54, 55, 56, 57, 58, 59, 60, 62, 65, 66, 67, 68, 70, 71, 72, 74, 75, 76, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99, 100}
<class 'set'>
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [35]:
import numpy as np
sample_list_2 = list(np.random.choice(101, 80, replace=True))
print(sample_list_2)
type(sample_list_2)

[93, 38, 18, 75, 95, 58, 63, 25, 45, 80, 62, 17, 49, 63, 20, 55, 37, 5, 19, 89, 97, 53, 20, 10, 65, 5, 52, 57, 52, 61, 34, 60, 39, 67, 4, 47, 76, 83, 83, 31, 90, 7, 32, 81, 100, 92, 26, 13, 67, 37, 47, 26, 74, 15, 80, 60, 8, 61, 45, 11, 20, 83, 19, 96, 46, 87, 81, 67, 84, 9, 58, 40, 57, 30, 39, 42, 18, 81, 50, 96]

list

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [38]:
set2 = set(sample_list_2)
print(set2)
print(type(set2))
print(len(set2))

{4, 5, 7, 8, 9, 10, 11, 13, 15, 17, 18, 19, 20, 25, 26, 30, 31, 32, 34, 37, 38, 39, 40, 42, 45, 46, 47, 49, 50, 52, 53, 55, 57, 58, 60, 61, 62, 63, 65, 67, 74, 75, 76, 80, 81, 83, 84, 87, 89, 90, 92, 93, 95, 96, 97, 100}
<class 'set'>
56

In [ ]:
#No, it has a shorter length

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [44]:
set3 = set1 - set2
print(set3)
len(set3)

{0, 1, 2, 3, 14, 22, 23, 24, 27, 28, 29, 33, 36, 41, 43, 44, 48, 51, 54, 56, 59, 66, 68, 70, 71, 72, 78, 79, 82, 85, 86, 88, 91, 98, 99}

35

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [45]:
set4 = set2 - set1
print(set4)
len(set4)

{37, 8, 40, 42, 81, 50, 63, 52, 26, 61, 31}

11

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [46]:
set5 = set1 & set2
print(set5)
len(set5)

{4, 5, 7, 9, 10, 11, 13, 15, 17, 18, 19, 20, 25, 30, 32, 34, 38, 39, 45, 46, 47, 49, 53, 55, 57, 58, 60, 62, 65, 67, 74, 75, 76, 80, 83, 84, 87, 89, 90, 92, 93, 95, 96, 97, 100}

45

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [53]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

# len(set1) = len(set1)
# len(set2) = len(set2)

# len(set3) = len(set1) - len(set5)
# len(set4) = len(set2) - len(set5)

# len(set5) = len(set1) - len(set3)  or
# len(set5) = len(set2) - len(set4)

print(len(set3) == len(set1) - len(set5))
print(len(set4) == len(set2) - len(set5))
print(len(set5) == len(set1) - len(set3))
print(len(set5) == len(set2) - len(set4))

80
56
35
11
45
True
True
True
True

#### Create an empty set called `set6`.

In [55]:
set6 = set()
set6

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [59]:
set6.update(set3)
set6.update(set5)
print(set6)
len(set6)

{0, 1, 2, 3, 4, 5, 7, 9, 10, 11, 13, 14, 15, 17, 18, 19, 20, 22, 23, 24, 25, 27, 28, 29, 30, 32, 33, 34, 36, 38, 39, 41, 43, 44, 45, 46, 47, 48, 49, 51, 53, 54, 55, 56, 57, 58, 59, 60, 62, 65, 66, 67, 68, 70, 71, 72, 74, 75, 76, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99, 100}

80

#### Check if `set1` and `set6` are equal.

In [60]:
set1 == set6
#True

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [65]:
print(set2.issubset(set1)) #False
print(set3.issubset(set1)) #True

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [66]:
set3.union(set4,set5) == set1.union(set2) #True

True

#### Using the `pop` method, remove the first element from `set1`.

In [69]:
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [70]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)
    else:
        print(i)

21
31
61
69
81